{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        View data prototypes
      </h1>
    </div>
  </div>


  <div class="column-full">

    <!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://invis.io/AWE0P8E2M">Tables</a> and <a href="https://invis.io/56E0ORCEK">Sparklines</a>&nbsp; Showing trends over time<strong class="proj-phase-tag alpha">BETA</strong></h3>
	  		<p class="font-small text-secondary">November 2017</p>
	  		<details>
				  <summary><span class="summary">Main changes</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Change</th>
						      <th>Why we made it</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
									<td>In one design, we showed data in a table, listing out all the different numbers that we thought users needed to know</td>
									<td>Because a lot of previous reserach had suggested that the simplest way to display data was to just show the numbers. In this case, however, it became confusing – too many numbers all at once that mean slightly different things.</td>
								</tr>
								<tr>
									<td>In the other design, we used expandable sections with simple graphs showing the last year of data.</td>
									<td>We thought it would make it easier for users to get a quick sense of how a service's metrics have changed over time. The research backed this up, although we didn't get the level of detail right. We developed this further to use a combination of sparklines for high-level overview, then the ability to drill down into detailed graphs showing the data for every month.</td>
								</tr>
						  </tbody>
						</table>
					</div>
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://pp-alpha-navigation.cloudapps.digital/">PP 6</a>&nbsp; Navigation<strong class="proj-phase-tag alpha">ALPHA</strong></h3>
	  		<p class="font-small text-secondary">March 2017</p>
	  		<details>
				  <summary><span class="summary">Main changes</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Change</th>
						      <th>Why we made it</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>Use a consistent layout for all pages showing data, from government to departments to agencies</td>
						      <td>We found users were confused by moving from pages laid out by organisation, to pages organised by metric. This layout also made it harder to compare multiple data sets.</td>
						    </tr>
						    <tr>
						      <td>Add a breadcrumb navigation</td>
						      <td>The previous prototype made it easier to drill down through the data, but not as easy to move back up.</td>
						    </tr>
						  </tbody>
						</table>
					</div>
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://pp-alpha.cloudapps.digital/">PP 5</a>&nbsp; Data filters<strong class="proj-phase-tag alpha">ALPHA</strong></h3>
	  		<p class="font-small text-secondary">January 2017</p>
	  		<details>
				  <summary><span class="summary">Main changes</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Change</th>
						      <th>Why we made it</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>View by department, agency or service. Ability to filter and sort by any metric.</td>
						      <td>Different users have very different interests depending on what they are working on. We think a new overview page will give users more flexibility, allowing them to create customised filters of the data.</td>
						    </tr>
						    <tr>
						      <td>Clearer relationship between numbers.</td>
						      <td>Users were often unclear about which numbers were part of which, for example how calls received related to transactions received by phone. A new page layout tries to clarify this.</td>
						    </tr>
						    <tr>
						      <td>Data guidance in context.</td>
						      <td>As we're introducing new concepts and terms, we need to explain what they mean. Instead of having a separate 'guidance' section, we added information next to where the data is to save users clicking back and forth and reading long pages of text.</td>
						    </tr>
						    <tr>
						      <td>Used 'view all' as primary call to action, moved search to separate page.</td>
						      <td>Previous testing showed that users benefitted from seeing what data is available on the website, and are only likely to search in specific situations. We think that the need to search for something specific could be adequately met on a separate page.</td>
						    </tr>
						  </tbody>
						</table>
					</div>
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium">PP 4&nbsp; Value proposition &amp; user effort<strong class="proj-phase-tag alpha">ALPHA</strong></h3>
	  		<p class="font-small text-secondary">November 2016</p>
	  		<details>
				  <summary><span class="summary">Main changes</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Change</th>
						      <th>Why we made it</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>Designed a new 'product page' with a clearer value proposition</td>
						      <td>We found that users had a varying understanding of what the site offers them. We also moved to be more consistent with the product pages being used by other GDS products.</td>
						    </tr>
						    <tr>
						      <td>Reformed 'user effort' into 'calls' and 'casework'.</td>
						      <td>We found that putting calls and casework data together confused users. We think that making each into a distinct data set (and removing the 'user effort' name) will clarify this.</td>
						    </tr>
						  </tbody>
						</table>
					</div>
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://pp-2.herokuapp.com/">PP 3</a>&nbsp; Initial MVP<strong class="proj-phase-tag alpha">ALPHA</strong></h3>
	  		<p class="font-small text-secondary">October 2016</p>
	  		<details>
				  <summary><span class="summary">Main changes</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Change</th>
						      <th>Why we made it</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>Add a search function with autocomplete to the home page.</td>
						      <td>We found in research that most participants wanted to be able to search for something specific. We think an autocomplete will help suggest what it's possible to search for.</td>
						    </tr>
						    <tr>
						      <td>Added user effort data, broken down by 'reasons users get in touch' and 'reasons users have to repeat or amend something'.</td>
						      <td>To test whether this kind of information is useful for our users to assess service quality.</td>
						    </tr>
						    <tr>
						      <td>Removed transactional service ('task') pages.</td>
						      <td>To test our hypothesis that our users only want to see the data at a higher level (i.e. department, agency and so on).</td>
						    </tr>
						  </tbody>
						</table>
					</div>
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://pp-1.herokuapp.com/">PP 2</a>&nbsp; Grouping and aggregation<strong class="proj-phase-tag disco-alpha">DISCO ALPHA</strong></h3>
	  		<p class="font-small text-secondary">August 2016</p>
	  		<details>
				  <summary><span class="summary">Main changes</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Change</th>
						      <th>Why we made it</th>
						    </tr>
						  </thead>
						  <tbody>
						  	<tr>
						      <td>Design a clickable interface for browsing the data.</td>
						      <td>We found that the spreadsheet in the last iteration was overwhelming or too advanced for most users (although some need the ability to download in CSV format too).</td>
						    </tr>
						    <tr>
						      <td>Show aggregated data by department, agency, topic and 'sub-topic'.</td>
						      <td>We think that grouping data in different ways will allow our users to get a higher-level view of what's going on across government.</td>
						    </tr>
						    <tr>
						      <td>Add a filter/comparison tool.</td>
						      <td>We think that users may need to create their own views of the data by combining different departments or areas of interest.</td>
						    </tr>
						  </tbody>
						</table>
					</div>
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://performance-prototype.herokuapp.com/">PP 1</a>&nbsp; First prototype<strong class="proj-phase-tag discovery">DISCOVERY</strong></h3>
	  		<p class="font-small text-secondary">May 2016</p>
	  		<p>Customisable, downloadable spreadsheet to test the different data types we could collect.</p>
  	</div>

  </div>



</main>

{% endblock %}
