{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Government Service Data changelog
      </h1>
      <p>
        Prototypes created during the development of Government Service Data since the re-discovery of the Performance Platform in 2016.
        <ul class="list-bullet">
	      	<li><a href="consumers">View data</a></li>
	      	<li><a href="publishers">Publish data</a></li>
	      </ul>
      </p> 

      <p>
      	You'll need a username and password to access the prototypes. If you don't have this you need to <a href="mailto:performance-platform@digital.cabinet-office.gov.uk">get in touch with the team</a>.
      </p>
    </div>
  </div>


</main>

{% endblock %}


