{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Performance Platform changelog
      </h1>
      <p>
        All prototypes created during the development of the Performance Platform since the re-discovery in early 2016.<!--  If you haven't been given passwords for these, you'll need to <a href="">get in touch with the team</a>. -->
      </p>
    </div>
  </div>


  <div class="column-full">

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="#">Link to prototype</a></h3>
	  		<p class="font-xsmall">DD Month YYYY</p>
	  		<details>
				  <summary><span class="summary">Changes made</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Changes</th>
						      <th>Why we made them</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>We made this change to this thing</td>
						      <td>This is why we made this change to this thing</td>
						    </tr>
						    <tr>
						      <td>We made this change to this thing</td>
						      <td>This is why we made this change to this thing</td>
						    </tr>
						    <tr>
						      <td>We made this change to this thing</td>
						      <td>This is why we made this change to this thing</td>
						    </tr>
						  </tbody>
						</table>
					</div>	
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="#">Link to prototype</a></h3>
	  		<p class="font-xsmall">DD Month YYYY</p>
	  		<details>
				  <summary><span class="summary">Changes made</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Changes</th>
						      <th>Why we made them</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>We made this change to this thing</td>
						      <td>This is why we made this change to this thing</td>
						    </tr>
						    <tr>
						      <td>We made this change to this thing</td>
						      <td>This is why we made this change to this thing</td>
						    </tr>
						    <tr>
						      <td>We made this change to this thing</td>
						      <td>This is why we made this change to this thing</td>
						    </tr>
						  </tbody>
						</table>
					</div>	
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://performance-prototype.herokuapp.com/">Link to prototype</a></h3>
	  		<p class="font-xsmall">DD Month YYYY</p>
	  		<details>
				  <summary><span class="summary">Changes made</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Changes</th>
						      <th>Why we made them</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>We made this change to this thing</td>
						      <td>This is why we made this change to this thing</td>
						    </tr>
						    <tr>
						      <td>We made this change to this thing</td>
						      <td>This is why we made this change to this thing</td>
						    </tr>
						    <tr>
						      <td>We made this change to this thing</td>
						      <td>This is why we made this change to this thing</td>
						    </tr>
						  </tbody>
						</table>
					</div>	
			  </div>
			</details>
  	</div>

  </div>
 


</main>

{% endblock %}


