{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Performance Platform changelog
      </h1>
      <p>
        All prototypes created during the development of the Performance Platform since the re-discovery in early 2016.
      </p> 
      <p>
      	If you haven't been given access to these, you'll need to <a href="mailto:performance-platform@digital.cabinet-office.gov.uk">get in touch with the team</a>.
      </p>
    </div>
  </div>


  <div class="column-full">

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="#">PP&ndash;3</a> <strong class="proj-phase-tag alpha">ALPHA</strong></h3>
	  		<p class="font-small text-secondary">November 2016</p>
	  		<details>
				  <summary><span class="summary">Changes made</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Change</th>
						      <th>Why we made it</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>Did a thing</td>
						      <td>Because we thought it would be cool</td>
						    </tr>
						  </tbody>
						</table>
					</div>	
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://pp-2.herokuapp.com/">PP&ndash;2</a> <strong class="proj-phase-tag alpha">ALPHA</strong></h3>
	  		<p class="font-small text-secondary">October 2016</p>
	  		<details>
				  <summary><span class="summary">Changes made</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Change</th>
						      <th>Why we made it</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>Add a search function with autocomplete to the home page</td>
						      <td>We found in research that most participants wanted to be able search for something specific. We think an autocomplete will help suggest what it's possible to search for</td>
						    </tr>
						    <tr>
						      <td>Added user effort data, broken down by 'reasons users get in touch' and 'reasons users have to repeat or amend something'</td>
						      <td>To test whether this kind of information is useful for our users to assess service quality</td>
						    </tr>
						    <tr>
						      <td>Removed transactional service ('task') pages</td>
						      <td>To test our hypothesis that our users only want to see the data at a higher level (i.e. department, agency and so on)</td>
						    </tr>
						  </tbody>
						</table>
					</div>	
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://pp-1.herokuapp.com/">PP&ndash;1</a> <strong class="proj-phase-tag disco-alpha">DISCO ALPHA</strong></h3>
	  		<p class="font-small text-secondary">August 2016</p>
	  		<details>
				  <summary><span class="summary">Changes made</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Change</th>
						      <th>Why we made it</th>
						    </tr>
						  </thead>
						  <tbody>
						  	<tr>
						      <td>Create a clickable interface for browsing the data</td>
						      <td>We found that the downloadable spreadsheet in the last iteration was too overwhelming for most users (although some need the ability to download in that format too)</td>
						    </tr>
						    <tr>
						      <td>Show aggregated data by department, agency, topic and 'sub-topic'</td>
						      <td>We think that grouping data in different ways will allow our users to get a higher-level view of things across government</td>
						    </tr>
						    <tr>
						      <td>Add a filter/comparison tool</td>
						      <td>We think that users may need to create their own views of the data by combining different departments or areas of interest</td>
						    </tr>  
						  </tbody>
						</table>
					</div>	
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://performance-prototype.herokuapp.com/">PP&ndash;0</a> <strong class="proj-phase-tag discovery">DISCOVERY</strong></h3>
	  		<p class="font-small text-secondary">April 2016</p>
	  		<p>Spreadsheet to test the different data types we need to collect.</p>
	  		<!-- <details>
				  <summary><span class="summary">Changes made</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Changes</th>
						      <th>Why we made them</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
						      <td>We made this change to this thing</td>
						      <td>This is why we made this change to this thing</td>
						    </tr>
						    <tr>
						      <td>We made this change to this thing</td>
						      <td>This is why we made this change to this thing</td>
						    </tr>
						    <tr>
						      <td>We made this change to this thing</td>
						      <td>This is why we made this change to this thing</td>
						    </tr>
						  </tbody>
						</table>
					</div>	
			  </div>
			</details> -->
  	</div>

  </div>
 


</main>

{% endblock %}


