{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">

  <div class="grid-row">
    <div class="column-two-thirds">
      <h1 class="heading-xlarge">
        Publish data prototypes
      </h1>
    </div>
  </div>


  <div class="column-full">

    <!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://docs.google.com/drawings/d/1wyVtQ-j993sZ7f-pMBqtTemQZVcTyhxVhXGG7XQhBrY/edit?usp=sharing">Service blueprint v1</a>&nbsp; Improving the on-boarding process<strong class="proj-phase-tag alpha">BETA</strong></h3>
	  		<p class="font-small text-secondary">January 2018</p>
	  		<details>
				  <summary>
				  	<span class="summary">Main changes</span>
				  </summary>
				  <div>
				  	<ul class="list-bullet" style="max-width:34em">
							<li>We built the web form part of the prototype tested during Alpha and started using it to get data from services. We then mapped out the entire end-to-end process for data publishers and sought to make improvements to it.</li>
							<li>The biggest change was the introduction of a 'kick-off meeting' in which the Service Performance team met with new data publishers to go through the metrics. This was intended to increase motivation to publish data, set expectations, and make sure that users' interpretation of the metrics is correct.</li>
						</ul>
					</div>
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://gsd-publish-data-4.cloudapps.digital/">Iteration 4</a>&nbsp; Web forms sent direct to service teams<strong class="proj-phase-tag alpha">ALPHA</strong></h3>
	  		<p class="font-small text-secondary">August 2017</p>
	  		<details>
				  <summary>
				  	<span class="summary">Main changes</span>
				  </summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Change</th>
						      <th>Why we made it</th>
						    </tr>
						  </thead>
						  <tbody>
						  	<tr>
						      <td>Re-focused to get data directly from a contact on a service team</td>
						      <td>We think that by going direct to services, we can communicate more easily, motivate users to give data, and remove a lot of redundant users from the data gathering process.</td>
						    </tr>
						    <tr>
						      <td>Use web forms to gather data, sent to publishers via automated emails</td>
						      <td>We've found in prior research that web forms work better for inputting a small amount of data. They can be used by anyone. They cannot be emailed around and reformatted like spreadsheets are.</td>
						    </tr>
						  </tbody>
						</table>
					</div>
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://gsd-publish-data-3.cloudapps.digital/">Iteration 3</a>&nbsp; Automating sending spreadsheets around<strong class="proj-phase-tag alpha">ALPHA</strong></h3>
	  		<p class="font-small text-secondary">July 2017</p>
	  		<details>
				  <summary>
				  	<span class="summary">Main changes</span>
				  </summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Change</th>
						      <th>Why we made it</th>
						    </tr>
						  </thead>
						  <tbody>
						  	<tr>
						      <td>Narrow scope to focus on people who gather data for multiple services on behalf of their organisation.</td>
						      <td>This is how most data is currently published to the Performance Platform. We think that be easing some of the pain points for these central contacts, we can get better data more regularly. We should also be able to make a smoother transition from one product to another.</td>
						    </tr>
						    <tr>
						      <td>Use email and upload links to automate the process of asking for and gathering data.</td>
						      <td>To remove the pain point of forwarding and receiving loads of emails with spreadsheets of data. The central contact's role becomes more focused on monitoring and sense-checking.</td>
						    </tr>
						    <tr>
						      <td>Create an account to manage data from.</td>
						      <td>To see there is a need to have somewhere to manage this, and if it's any better than email.</td>
						    </tr>
						  </tbody>
						</table>
					</div>
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://drive.google.com/a/digital.cabinet-office.gov.uk/file/d/0B-OBgmZsXJcIc1QxUVZSR2Y0V1k/view?usp=sharing">Iteration 2</a>&nbsp; Publish manually or automatically<strong class="proj-phase-tag alpha">ALPHA</strong></h3>
	  		<p class="font-small text-secondary">June 2017</p>
	  		<details>
				  <summary><span class="summary">Main changes</span></summary>
				  <div>
				  	<table>
						  <thead>
						    <tr>
						      <th>Change</th>
						      <th>Why we made it</th>
						    </tr>
						  </thead>
						  <tbody>
						  	<tr>
						      <td>Test a new option to explore automatic publishing of data via APIs.</td>
						      <td>We've found from users that automatic publishing is the ideal scenario, but hard to get set up for certain services/organisations. We think that offering a more hands-on service to get users started will make this easier.</td>
						    </tr>
						    <tr>
						      <td>Group the previously tested ideas into one, with two routes for different responsibilities.</td>
						      <td>To test if users knew whether they were responsible for one or more services. We also need to test the previous prototypes with more users who publish data for multiple services so we can be sure of our findings.</td>
						    </tr>
						  </tbody>
						</table>
					</div>
			  </div>
			</details>
  	</div>

  	<!--changelog entry-->
  	<div class="changelog-entry">
  		<div>
	  		<h3 class="heading-medium"><a href="https://drive.google.com/a/digital.cabinet-office.gov.uk/file/d/0B-OBgmZsXJcIMUxjZU1IekNMVFE/view?usp=sharing">Iteration 1</a>&nbsp; Publish for services or departments<strong class="proj-phase-tag alpha">ALPHA</strong></h3>
	  		<p class="font-small text-secondary">June 2017</p>
	  		<p>Two options to test different levels of responsibility:
	  			<ul class="list-bullet" style="max-width:34em"><!--change the CSS you lazy bastard-->
	  				<li>One person responsible for one service, with ability to delegate responsibility for individual metrics</li>
	  				<li>One person responsible for one department, with ability to delegate responsibility for individual services</li>
	  			</ul>
	  		</p>
  	</div>

  </div>



</main>

{% endblock %}
